.headerContent > * {
    max-width: 1920px !important;
    margin-inline: auto;
}
.pageTitle
{
    width: 100%;
    text-align: center;
    font-size: 24px !important;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
    position: relative;
    /* box-shadow: 0 -2.5px 0 -1px rgba(8,27,51,.8) inset; */
}

.pageTitle span
{
    height: 90px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: right;
    padding-left: 7.5px;
    padding-right: 7.5px;
    background-color: none;
}
.pageTitle p
{
    margin: 0;
    padding: 0;
    margin-top: 9px;
    height: auto;
    
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    text-align: center;
    
}
.pageTitle::after {
    content: "";
    position: relative;
    background-color: none;
    height: 1px;
    margin-top: -1px;
    width: 100%;
    box-shadow: 0 -1.5px 0 -1px rgba(8,27,51,.8) inset;
}
@media (max-width: 1023px) {
    
    .pageTitle > p
    {
        padding: 0 15px;
    }
}

@media (min-width: 1023px) {
    
    .pageTitle
    {
        width: 100%;
        text-align: center;
        font-size: 24px;
        display: flex;
        justify-content: center;
        align-items: flex-start;
        flex-direction: column;
        position: relative;
        max-width: 1920px;
        padding: 0 30px;
        > p {
            padding: 0 45px;
        }
    }
}

.pageTitle .btn
{
    cursor: pointer;
}

.menuButton {
    display: inline-flex;
    align-items: center;
    border: none;
    position: absolute;
    margin-top: 9px;
    font-size: 15px;
    right: calc(30px + 15px + 5.5px);
    cursor: pointer;
    @media screen and (max-width: 1023px) {
        right: calc(15px + 5.5px);
    }
    column-gap: 15px;
    
    @media screen and (max-width: 768px) {
        span {
            display: none !important;
        }
    }
}