@use "src/styles/common.scss" as *;

:global {
  * {
    box-sizing: border-box;
    /* font-family: 'Lato', sans-serif; */
  }
}

.homeContent {
  width: 100%;
  min-height: 88vh;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  padding: 0 15px;
  border-radius: 7.5px;
  position: relative;
  
  @media (min-width: 1023px) {
      display: none;
  }
  > * {
    margin: auto;
  }
  h1 {
      text-align: center;
      font-size: 23px;
      z-index: 2;
  }
  
  .languageSwitcher {
    position: absolute;
    top: 0;
    right: 0;
    margin-top: 0;
  }

  .naviButtons {
    justify-content: center;
    row-gap: 10px;
    margin-bottom: 30px;

    img {
        width: 55px;
        height: 47px;
    }
  }
}

.naviButtons {

  width: 100%;
  align-items: center;
  justify-content: flex-start;
  flex-direction: column;
  margin-top: 30px;
  display: grid;
  row-gap: 15px;
  padding: 30px 0;
  margin: auto 0;

  > * {
    width: 100%;
    display: inline-flex;
    align-items: center;
    margin: 0;
    font-size: 20.5px;
    padding: 5.5px;
    cursor: pointer;
    z-index: 5;

    &:active {
      position: relative;
      top: 2px;
      color: green;
    }

    nav {
      width: auto;
      padding: 0 7.5px;
    }

    img:nth-last-child(2),
    img:nth-last-child(1) {
        height: auto !important;
    }
  }
}

.avatar {
  width: 100%;
  min-height: 180px;
  padding: 30px 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 2;
  margin: auto 0;

  > img {
    margin: 15px;
    border-radius: 50%;
    box-shadow: rgba(0, 0, 0, 0.2) -5px 7.5px 7.5px 0px;
    border: 2px solid #0a1248;
    cursor: pointer;
  }

  > span {
    height: 100%;
    display: flex;
    align-items: center;
    font-family: 'Lato', sans-serif;
    font-size: 24px;
    position: relative;

    > span {
      height: 100%;
      display: flex;
      align-items: flex-end;
      font-size: 24px;
      position: absolute;
      bottom: 30px;
      left: 50%;
    }
  }
}

.inUpdate {
  width: auto;
  height: auto;
  position: fixed;
  top: 15px;
  right: 15px;
  padding: 15px;
  z-index: 10;
  border: 1px solid #0a1248;
  background-color: #f2f2f2;
  transition: all 0.7s ease;
}

.frontImage {
  display: none;
  z-index: 1;
  position: relative;
  transition: all 0.5s ease;

  .switchButton {
    width: 35px;
    height: 35px;

    .left {
      position: absolute;
      left: 0;
    }

    .right {
      position: absolute;
      right: 0;
    }
  }

  .number_of_images {
    position: absolute;
    bottom: 0;
    width: 400px;
    height: 35px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 0.3s ease;
    z-index: 5;

    div {
      width: 25%;
      cursor: pointer;
      text-align: center;
      z-index: 5;
      transition: all 0.3s ease;
    }
  }
}

.homeExtended {
  display: none;
  
  @media (min-width: 1023px) {
    display: block;
    width: 100%;
    min-height: auto;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    padding: 0 30px;
    border-radius: 7.5px;
    position: relative;

    > section:nth-child(1) {
      height: 100vh;
      display: flex;
      align-items: center;
      justify-content: center;

      article {
        align-items: center;
      }
    }

    .sectionContent {
      width: 100%;
      min-height: auto;
      display: flex;
      justify-content: flex-start;
      align-items: flex-start;
      flex-direction: column;
      padding: 0 30px;
      position: relative;
      margin-block: auto;

      > article {
        width: 100%;
      }

      .languageSwitcher {
        position: absolute;
        top: 30px;
        right: 30px;
        margin: auto 0;
        margin-left: auto !important;
      }
      .param {
        padding-block: 70px;

        .naviButtons {
          width: 100%;
          padding-block: 0;
          margin-top: 30px;

          img {
            width: 43px;
            height: 39px;
          }

          nav {
            width: 100%;
          }
        }
      }
    }
  }

  section {
    width: 100%;
  }
  h3 {
    margin-block: 20px;
  }
  .gridDouble {
    column-gap: 40px !important;
  }
}

.darkLight {
  color: #fff;
  min-height: 300px;
  position: relative;

  &::before {
    background-color: rgba(8, 27, 51, 0.8);
    content: '';
    position: absolute;
    left: -200vw;
    right: -200vw;
    top: 0;
    bottom: 0;
    z-index: -1;
  }

  > * {
    width: 100% !important;
    color: #fff;
    text-align: center;
  }

  h3 {
    font-size: 50px;
    font-weight: 900;
    margin: 0;
  }

  p {
    font-size: 22px;
  }
}

.param {
  
  padding-block: 70px;
  margin-bottom: 0;
  
  @media (min-width: 1023px) {
    padding-inline: 30px !important;
  }

}

.hexagon > * {
  margin: 0 auto;
  width: 430px;
  height: 430px;
  position: relative;
}

.hexagon img {
  inline-size: 100%;
  height: 100%;
  object-fit: cover;
  aspect-ratio: 16 / 10;
  mask-image: url('/assets/images/solutions-hexagon.svg');
  mask-position: center;
  mask-repeat: no-repeat;
  -webkit-mask-image: url('/assets/images/solutions-hexagon.svg');
  -webkit-mask-position: center;
  -webkit-mask-repeat: no-repeat;
}

// .section-content .params
// {
//     width: 100%;
//     padding: 30px;
//     padding-left: 30px;
//     padding-right: 30px;
//     font-size: 20px;
//     /* background-color: rgba(250, 250, 250, 0.55); */
//     background-color: #f2f2f2;
//     border-radius: 7.5px;
//     margin-bottom: 30px;
//     box-shadow: rgba(0, 0, 0, 0.20) -1px 7.5px 7.5px 0px;
//     max-width: 100%;
//     word-break: break-word;
// }
// @media (min-width: 1023px) {
//     .params > * {
//         padding-left: 40px;
//         padding-right: 40px;

//     }
//     .params {
        
//         display: flex;
//         flex-direction: column;
//         gap: 10px;
//         border-radius: 25px;
//     }