.filter
{
    width: 100%;
    display: flex;
    gap: 20px;
    align-items: center;
}



.filter label
{
    width: 100%;
    position: relative;
    display: flex;
    gap: 20px;
}

/* 
.filter label > input
{
    width: 100%;
    height: 45px;
    border-radius: 25px;
    padding: 0 15.5px;
} */

.calendar {
    width: 100%;
    position: absolute;
    top: 100%;
    left: 0;
    z-index: 10;
    right: 0;
}

@media (min-width: 1023px) {

    .calendar {
        width: 100%;
        position: absolute;
        top: 100%;
        left: 0;
        right: 0;
        z-index: 10;
    }
    
}

.calendar > div:nth-last-child(1) {
    padding: 10px 30px;
}


.calendar > div:nth-last-child(1) > div {
    margin: 0 auto;
    width: 100%;
    
}
.rdrMonthName {
    font-size: 14px;
    text-align: center;

}

.rdrMonth {
    display: flex;
    flex-direction: column;
    gap: 20px;
}


@media (max-width: 1023px) {

    
    .filter > div {
        flex-direction: column;
        
    }
}


input[type=search] {
    border: solid 3px #fff;
    box-sizing: border-box;
    font-size: 2em;
    height: 2em;
    padding: 0.3em;
    transition: all 2s ease-in;
    width: 100%;
}

.calendar-input {

    cursor: pointer;
    text-align: center;
    height: 2em;
    font-size: 2em;
    padding: 0.3em;
    border: solid 3px #fff;
    width: 100%;
}

.filter .searchButton
{
    height: 2em;
    border: none;
    cursor: pointer;
    text-align: center;
    font-size: 2em;
    display: flex;
}

.searchButton svg {
    height: 2em;
    inline-size: 2em;
    margin: auto;
}

.filter > div
{
    width: 100%;
    display: flex;
    gap: 40px;
    align-items: center;
}

.filter > div > label > svg
{
    height: 2em;
    inline-size: 2em;
    margin: auto;
}