* {
    box-sizing: border-box;
    /* font-family: 'Lato', sans-serif; */
}

.home-content
{
    width: 100%;
    min-height: 88vh;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    padding: 0 15px;
    border-radius: 7.5px;
    position: relative;
}

.navi-buttons
{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    
    margin-top: 30px;

    display: grid;
    row-gap: 10px;
    padding: 30px 0;
    margin: auto 0;
}
.navi-buttons .navi-button
{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 0 0 0;
    font-size: 20.5px;
    padding: 5.5px;
    cursor: pointer;
    z-index: 5;
}
.navi-buttons .navi-button:active
{
    position: relative;
    top: 2px;
    color: green;
}

.navi-buttons .navi-button nav
{
    width: 85%;
    padding: 0 7.5px;
}
.navi-buttons .navi-button img
{
    width: 55px;
    height: 47px;
}
.navi-buttons .navi-button:nth-last-child(2) img
{
    width: 55px;
    height: auto;
}
.navi-buttons .navi-button:nth-last-child(1) img
{
    width: 55px;
    height: auto;
}

.avatar
{
    width: 100%;
    min-height: 180px;
    padding: 30px;
    padding-left: 15px;
    padding-right: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 2;
    margin: auto 0;
}
.avatar > img
{
    margin: 15px;
    border-radius: 50%;
    
    box-shadow: rgb(0 0 0 / 20%) -5px 7.5px 7.5px 0px;
    border: 2px solid #0A1248;
    cursor: pointer;
}
.avatar > span
{
    height: 100%;
    display: flex;
    align-items: center;
    font-family: 'Lato', sans-serif;
    
    font-size: 24px;
    position: relative;
}
.avatar > span > span
{
    height: 100%;
    display: flex;
    align-items: flex-end;
    
    font-size: 24px;
    position: absolute;
    bottom: 30px;
    left: 50%;

}
.home-content > h1 
{
    text-align: center;
    font-size: 23px;
    margin: auto 0;
    z-index: 2;
}

.inUpdate
{
    width: auto;
    height: auto;
    position: fixed;
    top: 15px;
    right: 15px;
    padding: 15px;
    z-index: 10;
    border: 1px solid #0A1248;
    background-color: #fff;
    transition: all 0.7s ease;
    z-index: 2;
}

.frontImage
{
    display: none;
    z-index: 1;
    position: relative;
    transition: all 0.5s ease;
}

.frontImage .switchButton
{
    width: 35px;
    height: 35px;

}
.frontImage .switchButton .left
{
    position: absolute;
    left: 0;
}
.frontImage .switchButton .right
{
    position: absolute;
    right: 0;
}

.frontImage .number_of_images
{
    position: absolute;
    bottom: 0;
    width: 400px;
    height: 35px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 0.3s ease;
    z-index: 5;
}
.frontImage .number_of_images div
{
    width: 25%;
    cursor: pointer;
    text-align: center;
    z-index: 5;
    transition: all 0.3s ease;
}

@media (min-width: 1023px) {

    .home-content
    {
        width: 100%;
        min-height: 70vh;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
        padding: 0 79px;
        border-radius: 7.5px;
    }
    
    .navi-buttons
    {
        width: 45%;
        min-height: auto;
        display: flex;
        align-items: flex-start;
        justify-content: space-between;
        flex-direction: column;
        padding: 0 15px;
        z-index: 5;
        margin-top: 30px;

        display: grid;
        row-gap: 15px;
    }
    .navi-buttons .navi-button
    {
        width: auto;
        min-height: 100%;
        display: flex;
        align-items: center;
        justify-content: flex-start;
        margin: 0 0 0 0;
        font-size: 20.5px;
        cursor: pointer;
        z-index: 5;
    }
    .navi-buttons .navi-button:active
    {
        position: relative;
        top: 2px;
        color: green;
    }
    
    .navi-buttons .navi-button nav
    {
        width: auto;
        padding: 0 7.5px;
    }
    .navi-buttons .navi-button img
    {
        width: 43px;
        height: 39px;
    }
    .navi-buttons .navi-button:nth-child(2) img
    {
        width: 43px;
        height: 37px;
    }
    .navi-buttons .navi-button:nth-last-child(2) img
    {
        width: 43px;
        height: 37px;
    }
    .navi-buttons .navi-button:nth-last-child(1) img
    {
        width: 43px;
        height: auto;
    }
    
    .avatar
    {
        width: 50%;
        min-height: 180px;
        padding: 30px;
        padding-left: 0;
        padding-right: 0;
        display: flex;
        justify-content: flex-start;
        align-items: center;
    }
    .avatar > img
    {
        margin: 15px;
        border-radius: 50%;
        
        box-shadow: rgb(0 0 0 / 20%) -5px 7.5px 7.5px 0px;
        border: 2px solid #0A1248;
        cursor: pointer;
    }
    .avatar > span
    {
        height: 100%;
        display: flex;
        align-items: center;
        
        font-size: 24px;
        position: relative;
        margin-right: 15px;
    }
    .avatar > span > span
    {
        height: 100%;
        display: flex;
        align-items: flex-end;
        
        font-size: 24px;
        position: absolute;
        bottom: 30px;
        left: 50%;
    
    }
    .home-content > h1 
    {
        text-align: left;
        font-size: 23px;
        margin: 7.5px 0;
        min-width: 50%;
        padding: 0 15px;
    }
    
    .frontImage
    {
        width: auto;
        display: flex;
        align-items: center;
        justify-content: center;
        position: absolute;
        top: 0;
        bottom: 0;
        right: 64px;
        z-index: 0;
        width: 50%;
    }
    .frontImage img
    {
        height: 75%;
    }

    


}


@media (max-width: 1023px) {
    

    .home-extended {
        display: none;
    }
}
@media (min-width: 1023px) {
    
    .home-content {
        display: none;
    }

    .home-extended {
        width: 100%;
        min-height: auto;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
        padding: 0 30px;
        border-radius: 7.5px;
    }



    .home-extended .section-content {
        width: 100%;
    }

    section {
        width: 100%;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;

    }
    .hexagon-list {
        width: 100%;
        display: grid;

        grid-auto-flow: column;
        grid-auto-columns: 21%;
        overflow: hidden;
        overflow-x: auto;
        overscroll-behavior-inline: contain;
        padding: 0;

        gap: 40px;
    }

    
    .home-extended .section-content
    {
        width: 100%;
        min-height: auto;
        display: flex;
        justify-content: flex-start;
        align-items: flex-start;
        flex-direction: column;
        padding: 30px;
    }
    .home-extended .section-content .params {
        padding-top: 70px;
        padding-bottom: 70px;
    }
    .home-extended .params {
        padding: 70px 0;
    }

    .home-extended > section > article {
        grid-template-columns: 50% 50% !important;
    }
    .home-extended .section-content > article {
        grid-template-columns: repeat(2, 1fr)  !important;
    }
    .home-extended .section-content > article > .params {
        margin: 0 auto;
    }
    
    .home-extended .params {
        
        box-sizing: border-box;
        position: relative;
    }
    .home-extended .params {
        width: auto;
        position: relative;
    }
    .home-extended .section-content .params {
        max-width: 400px;
        position: relative;
    }
    .home-extended .params .navi-buttons {
        width: 100%;
    }

    .home-extended .params nav {
        width: 100%;
    }
    .home-extended article {
        position: static;
        margin: 0;
        padding: 0;
        display: flex;
    }

    .home-extended .hexagon {

        width: 230px;
        height: 230px;
        display: block;
        position: relative;
        transition: all 1s ease-in-out;
        padding: 0;
        z-index: 9;

    }

    .home-extended .hexagon > img {
        inline-size: 100%;
        clip-path: polygon(0% 25%,0% 75%,50% 100%,100% 75%,100% 25%,50% 0%);
    }

    .snaps-inline {
        scroll-snap-type: inline mandatory;
        scroll-padding-inline: 40px;
    }
    .snaps-inline > * {
        scroll-snap-align: start;
    }

    
    /* .home-extended .hexagon::before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        transition: all 1s 0.5s;
        background-color: red;
        clip-path: polygon(0% 25%,0% 75%,50% 100%,100% 75%,100% 25%,50% 0%);
    } */
    /* .home-extended .hexagon::before {
        content: "";
        display: block;

        position: absolute;
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
        z-index: 12;


        opacity: 1;
        
        clip-path: polygon(0% 25%,0% 75%,50% 100%,100% 75%,100% 25%,50% 0%);
        
        
    } */
    /* clip-path: url('https://cdn.merixstudio.com/static/frontend/images/homepage/solutions-hexagon.svg'); */
    /* 0% 25%,0% 75%,50% 100%,100% 75%,100% 25%,50% 0% */
}

.extra-headline {
    font-size: 42px;
    font-weight: 900;
    line-height: 1.6;
}

.hexagon-list > .params {
    -webkit-animation-name: move;
    -webkit-animation-duration: 4s;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-direction: right;
    -webkit-animation-timing-function: linear;
}

.hexagon-list > .params:hover {
    -webkit-animation-play-state: paused;
}
  
@-webkit-keyframes move {
0% {
    margin-left: -400px;
}
100% {
    margin-left: 800px;
}
}