* {
    box-sizing: border-box;
    font-family: 'Lato', sans-serif;
    
}
.section-content
{
    width: 100%;
    min-height: 88vh;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: column;
}
.section-content .params
{
    width: 100%;
    padding-left: 30px;
    padding-right: 30px;
    font-size: 18px;

}

.more-about
{
    color: blue;
}