.commits {
    display: flex;
    gap: 7.5px;
    height: auto;
    flex-wrap: wrap;
    
    span {
        display: flex;
        align-items: center;
        justify-content: flex-start;
        gap: 3.5px;
        float: left;
    }

    svg {
        width: 17.5px;
        height: 20px;
        color: rgba(8,27,51,.8)
    }
}