
aside {
    width: 97px;
    position: fixed;
    left: 0;
    top: 0;
    bottom: 0;
    background-color: #f5f5f5;
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 20px;
    z-index: 100;
}
aside > div > p {
    text-align: center;
}
aside > div {
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 20px 0;
}
aside > div:nth-child(2) {
    margin: auto 0;
}

