.uploader-list
{
    padding: 32px 30px;
    list-style: none;
    gap: 15px;
    display: flex;
    margin-left: auto;
    justify-content: flex-end;
    line-height: 25px;
    flex-direction: row;
    color: rgba(8,27,51,.8);
        
    @media (max-width: 1023px) {

        padding: 32px 7.5px;
    }
}

@media (max-width: 1023px) {

    .uploader-list span {
        display: none;
    }
    .uploader-list img {
        margin-left: auto;
    }
    
    .uploader-list li label {
        width: auto !important;
    }
    .uploader-list li a {
        width: auto !important;
    }

}

.uploader-list li {
    gap: 7.5px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 0 7.5px;
    
}

.uploader-list li > * {
    padding: 2.5px;
    font-size: 18px;
}
.uploader-list li {

    > label {
        display: flex;
        align-items: center;
        column-gap: 2.5px;
        cursor: pointer;
        font-weight: 500;
        width: max-content;
    }

    > a {
        display: flex;
        align-items: center;
        column-gap: 2.5px;
        cursor: pointer;
        font-weight: 500;
        width: 130px;
        color: rgba(8,27,51,.8);
    }

}

.uploader-list li img {
    inline-size: 35px;
}

.uploader-list li label:hover img {
    transform: scale(1.1);
}

.uploader-list li a:hover img {
    transform: scale(1.1);
}

.uploader-list li label:hover span {
    position: relative;
    top: 2px;
    font-weight: 600;
}

.uploader-list li a:hover span {
    position: relative;
    top: 2px;
    font-weight: 600;
}