* {
    box-sizing: border-box;
    /* font-family: 'Lato', sans-serif; */
    
}
.header-content
{
    width: 100vw;
    height: 96px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    z-index: 100;
    color: rgba(8,27,51,.8);
    background-color: #f2f2f2;
    position: fixed;
    top: 0;
    left: 0;
    padding: 0 5vw;
}
.header-element {
    width: 100%;
    height: 100px;
}

.header-content > * {
    max-width: 1920px !important;
    margin-inline: auto;
}

.page-title
{
    width: 100%;
    text-align: center;
    font-size: 24px !important;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
    position: relative;
    /* box-shadow: 0 -2.5px 0 -1px rgba(8,27,51,.8) inset; */
}


.page-title span
{
    height: 90px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: right;
    padding-left: 7.5px;
    padding-right: 7.5px;
    background-color: none;

}

.page-title p
{
    margin: 0;
    padding: 0;
    margin-top: 9px;
    height: auto;
    
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    text-align: center;
    
}

.page-title::after {
    content: "";
    position: relative;
    background-color: none;
    height: 1px;
    margin-top: -1px;
    width: 100%;
    box-shadow: 0 -1.5px 0 -1px rgba(8,27,51,.8) inset;
}

@media (max-width: 1023px) {
    
    .page-title > p
    {
        padding: 0 15px;
    }
}


@media (min-width: 1023px) {
    
    .page-title
    {
        width: 100%;
        text-align: center;
        font-size: 24px;
        display: flex;
        justify-content: center;
        align-items: flex-start;
        flex-direction: column;
        position: relative;
        max-width: 1920px;
        padding: 0 30px;

        > p {
            padding: 0 45px;
        }
    }
}


.page-title .btn
{
    cursor: pointer;
}

.logo
{
    width: 128px;
    height: 100%;
    position: absolute;
    right: 0;
    top: 0;
}

.logo::before {
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    right: 0;
    top: 0;
    background-image: url('/assets/images/logo.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: 64px;
    opacity: 0.70;
    z-index: 1;
}