* {
    box-sizing: border-box;
    /* font-family: 'Lato', sans-serif; */
    
}
.header-content
{
    width: 100%;
    height: 96px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    z-index: 100;
    color: rgba(8,27,51,.8);
    background-color: #f2f2f2;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
}
.header-element {
    width: 100%;
    height: 96px;
}
  

.header-content > * {
    max-width: 1920px;
}

.page-title
{
    width: 100%;
    min-height: 96px;
    text-align: center;
    font-size: 24px;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: column;
    padding-left: 15px;
    padding-right: 15px;
    position: relative;
    background-color: #f2f2f2;
}


.page-title span
{
    height: 55px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: right;
    padding-left: 7.5px;
    padding-right: 7.5px;
    
}

.page-title p
{
    margin: 0;
    padding: 0;
    margin-top: 9px;
    height: 55px;
    
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    text-align: center;
}

@media (max-width: 1023px) {
    
    .page-title > p
    {
        padding: 0 7.5px !important;
    }
}


@media (min-width: 1023px) {
    
    .page-title
    {
        width: 100%;
        min-height: 96px;
        text-align: center;
        font-size: 24px;
        display: flex;
        justify-content: flex-start;
        align-items: flex-start;
        flex-direction: column;
        padding-left: 5vw;
        padding-right: 5vw;
        position: relative;
        background-color: #f2f2f2;

        > p
        {
            padding: 0 15px;
        }
    }
}


.page-title .btn
{
    cursor: pointer;

}

.logo
{
    width: 128px;
    height: 100%;
    position: absolute;
    right: 0;
    top: 0;
}

.logo::before {
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    right: 0;
    top: 0;
    background-image: url('/assets/images/logo.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: 64px;
    opacity: 0.70;
    z-index: 1;
}