* {
    box-sizing: border-box;
    /* font-family: 'Lato', sans-serif; */
    
}
.section-content
{
    width: 100%;
    min-height: 88vh;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: column;
    background-color: #f2f2f2;
}
.section-content article {
    width: 100%;
    display: grid;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    padding-top: 30px;
    padding-bottom: 30px;
    margin: 0 auto;
    gap: 80px;
}
.section-content article:nth-of-type(1) {
    row-gap: 0;
}
// .section-content .params
// {
//     width: 100%;
//     padding: 30px;
//     padding-left: 30px;
//     padding-right: 30px;
//     font-size: 20px;
//     /* background-color: rgba(250, 250, 250, 0.55); */
//     background-color: #f2f2f2;
//     border-radius: 7.5px;
//     margin-bottom: 30px;
//     box-shadow: rgba(0, 0, 0, 0.20) -1px 7.5px 7.5px 0px;
//     max-width: 100%;
//     word-break: break-word;
// }
// @media (min-width: 1023px) {
//     .params > * {
//         padding-left: 40px;
//         padding-right: 40px;
//     }
//     .params {
        
//         display: flex;
//         flex-direction: column;
//         gap: 10px;
//         border-radius: 25px;
//     }
    
// }
.big-side-padding {
    @media (max-width: 1023px) {
        padding-inline-start: 0;
    }
    
}
.more-about
{
    float: left;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    width: 100%;
    text-align: left;
    span {
        color: rgba(8,27,51,.8);
        cursor: pointer;
        padding-top: 15px;
        padding-bottom: 15px;
        width: auto;
        margin-right: auto;
    }
    a {
        color: rgba(8,27,51,.8);
        cursor: pointer;
        padding-top: 15px;
        padding-bottom: 15px;
        width: auto;
        margin-right: auto;
        /* border: 1px solid red; */
        /* edit here */
        &:active
        {
            position: relative;
            top: 2px;
            color: green;
        }
    }
    .icon-box {
        font-size: 20px;
        padding: 15px;
        padding-top: 15px;
        padding-bottom: 15px;
        box-shadow: rgba(0, 0, 0, 0.20) -1px 7.5px 7.5px 0px;
        border-radius: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
        cursor: pointer;
        margin: 0;
        &:nth-last-child(1), 
        &:nth-last-child(2) {
            margin-left: 30px;
        }
        i {
            cursor: pointer;
            z-index: 2;
            &:active {
                position: relative;
                top: 2px;
                color: green;
            }
        }
        button {
            cursor: pointer;
            z-index: 2;
            border: 1px solid #0A1248;
            padding: 7.5px;
            font-size: 18px;
            background-color: #fff;
            &:active {
                position: relative;
                top: 2px;
                color: green;
            }
        }
    }
}
.section-content > h1
{
    width: 100%;
    position: relative;
    padding-top: 100px;
    padding-bottom: 45px;
    min-height: 300px;
    display: flex;
    align-items: center;
}
img {
    
    z-index: 9;
}

@media (max-width: 1023px) {
    .section-content > h1::before {
        content: '';
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        background-image: url('/assets/images/logo.png');
        background-position: top right;
        background-repeat: no-repeat;
        opacity: 0.55;
        z-index: 1;
    }
}
// here 
.section-image
{
    display: none;
}


.section-image img
{
    max-width: 100% !important;
    object-fit: cover;
    background-color: transparent !important;
    aspect-ratio: 16 / 10;
}
@media (min-width: 1023px) {
    .section-content
    {
        width: 100%;
        min-height: 88vh;
        display: flex;
        justify-content: flex-start;
        align-items: center;
        flex-direction: column;
        padding: 30px;
    }
    .section-content .params
    {
        width: 100%;
        padding: 30px;
        padding-left: 30px;
        padding-right: 30px;
        font-size: 18px;
        /* background-color: rgba(250, 250, 250); */
        background-color: #f2f2f2;
        border-radius: 7.5px;
        margin-bottom: 30px;
        box-shadow: rgba(0, 0, 0, 0.20) -1px 7.5px 7.5px 0px;
    }
    
    .more-about
    {
        float: left;
        display: flex;
        align-items: center;
        justify-content: flex-end;
        width: 100%;
        text-align: left;
        span {
            color: #0A1248;
            cursor: pointer;
            padding-top: 15px;
            padding-bottom: 15px;
            width: auto;
            margin-right: auto;
        }
        a {
            color: #0A1248;
            cursor: pointer;
            padding-top: 15px;
            padding-bottom: 15px;
            width: auto;
            margin-right: auto;
        }
        .icon-box {
            font-size: 20px;
            padding: 15px;
            padding-top: 15px;
            padding-bottom: 15px;
            box-shadow: rgba(0, 0, 0, 0.20) -1px 7.5px 7.5px 0px;
            border-radius: 50%;
            display: flex;
            justify-content: center;
            align-items: center;
            cursor: pointer;
            &:nth-last-child(1) {
                margin-left: 30px;
            }
        }
    }
    .section-content > h1
    {
        width: 100%;
        position: relative;
        padding-top: 100px;
        padding-bottom: 45px;
    }
    
    /* .section-content > h1::before {
        content: '';
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        background-image: url('./logo.png');
        background-position: top right;
        background-repeat: no-repeat;
        opacity: 0.55;
        z-index: 1;
    }  */  
    .section-image
    {
        display: flex;
        width: 100%;
        justify-content: center;
        align-items: flex-start;
    }
    /* article {
        width: 100%;
        display: grid;
        grid-template-columns: calc(30% - 40px) calc(70% - 40px);
        gap: 40px;
        width: 100%;
        padding: 40px 0;
    } */
    .gap-single {
        gap: 40px;
        grid-template-columns: calc(30% - 40px) calc(70%);
    }
.params {
    position: relative;
    background-color: #f2f2f2;
}
.blue {
    position: relative;
}
.blue::before {
    content: '';
    position: absolute;
    top: -30px;
    right: -500%;
    left: -500%;
    height: calc(100% + 60px);
    transform: rotate(-5deg);
    background-color: #5cb0bd;
    
    z-index: 2;
}
.params * {
    z-index: 5;
}
.params {
    z-index: 5;
    background-color: #f2f2f2;
}
}
@media (max-width: 1023px) {
    .blue .params {
        
        box-shadow: rgba(92, 176, 189, 0.5) -1px 7.5px 7.5px 0px;
    }
}
.sd-nav {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    
}
.sd-nav .hexagon {
    width: 230px;
    height: 230px;
    display: block;
    position: relative;
    transition: all 1s ease-in-out;
    padding: 0;
}
.admin-dashboard {
    min-height: 88vh;
}
.edit-toggle {
    font-weight: 600;
    font-size: 14px;
    position: absolute;
    top: -30px;
    left: 30px;
    z-index: 10;
    cursor: pointer;
    font-size: 18px;
    font-weight: 500;
    height: 50px;
    align-items: center;
    display: flex;
}
.edit-toggle:hover {
    font-weight: 900;
    
}
.edit-menu {
    display: flex;
    flex-direction: column;
    left: 15px;
    top: 30px;
    position: absolute;
    z-index: 100;
    padding: 0;
    list-style: none;
    gap: 2.5px;
    min-width: 300px;
    background-color: #5cb0bd;
    border-radius: 7.5px;
    box-shadow: rgba(0, 0, 0, 0.20) -1px 7.5px 7.5px 0px;
    padding: 7.5px;
    margin: 0;
}
.edit-menu li {
    min-width: 100%;
    height: 50px;
    display: flex;
    align-items: center;
    padding: 0 7.5px;
    z-index: 10;
    cursor: pointer;
    font-size: 18px;
    color: #f2f2f2;
    font-weight: 500;
}
.edit-menu li:hover {
    background-color: #fff;
    border-radius: 7.5px;
    color: rgba(8,27,51,.8);
    font-weight: 900;
}
.edit-menu li > * {
    margin: auto 0;
}
/* article
{
    position: relative;
} */
.params textarea {
    width: 100%;
    padding: 7.5px;
    font-size: 18px;
}
.project-intro
{
    
    box-shadow: rgba(0, 0, 0, 0.20) -1px 7.5px 7.5px 0px;
    
    z-index: 10;
    padding: 0;
    max-width: calc(678px - 10vw);
    margin: 0 auto;
    background-color: red;
}
.project-intro img {
    height: 100%;
    inline-size: 100%;
    
}
.project-images label {
    padding: 0;
    margin: 0;
    height: 100%;
}

.project-images label img {
    border-radius: 25px;
    
}

.project-images label img:active {
    outline: 3.5px solid rgba(92, 176, 189, 0.5);
    border-radius: 25px;
}
.project-images label img:hover {
    outline: 3px solid rgba(92, 176, 189, 0.5);
    border-radius: 25px;
}
.project-images {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    padding: 0;
    gap: 40px;
    flex-wrap: wrap;
    gap: 30px;
    margin: 0 auto;
    padding: 30px 0;
}

.project-images img {
    width: 100%;
}
.single-title {
    text-align: center;
    position: relative;
    align-items: flex-end;
    padding: 25px 0;
    min-height: 300px;
}
.single-title h3 span {
    z-index: 10;
}
.single-title::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(26, 32, 44, 0.5);
    border-radius: 25px;
}
.update-window {
    position: absolute;
    transform: translate(-50%,-50%);
    top: 50%;
    left: 50%;
    z-index: 11;
    width: 100%;
    background-color: #f2f2f2;
    padding: 40px;
    border-radius: 25px;
    box-shadow: rgba(0, 0, 0, 0.20) -1px 7.5px 7.5px 0px;
}
.update-window > div {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.tech-preview {
    width: auto;
    padding: 20px;
    border-radius: 7.5px;
    min-height: 96px;
    box-shadow: rgba(0, 0, 0, 0.20) -1px 7.5px 7.5px 0px;
    position: absolute;
    bottom: calc(100% + 15px);
    left: 70%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    z-index: 10;
    background-color: #f2f2f2;
    column-gap: 20px;
    
    > label {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        flex-direction: column;
        padding: 0 20px;
        row-gap: 7.5px;
        min-width: max-content;
    }
    label span {
        cursor: default;
    }
    > ul {
        display: flex;
        flex-direction: column;
        row-gap: 7.5px;
        list-style: none;
        padding: 0;
        > li {
            width: max-content;
        }
    }
}
.tech-with-popup {
    position: relative;
    > span {
        cursor: pointer;
    }
    li > span > svg
    {
        height: 2em;
        inline-size: 2em;
        width: 2em;
        margin: auto;
    }
    li {
        display: flex;
        align-items: center;
        > span {
            display: flex;
            align-items: center;
            cursor: pointer;
            font-weight: 500;
            &:hover {
                color:rgba(92, 176, 189, 1);
            }
            &:hover {
                color:rgba(92, 176, 189, 1);
            }
        }
    }
}
@keyframes fadeIn {
    0% { opacity: 0; }
    100% { opacity: 1; }
}
@keyframes fadeInUp {
    from {
        transform: translate3d(0,100px,0)
    }
    to {
        transform: translate3d(0,0,0);
        opacity: 1
    }
}
@-webkit-keyframes fadeInUp {
    from {
        transform: translate3d(0,100px,0)
    }
    to {
        transform: translate3d(0,0,0);
        opacity: 1
    }
}
@media (min-width: 768px) {
      
    .fade-in {
        animation: fadeIn 1.5s;
    }
    .animated {
        width: 100% !important;
        animation-duration: 1.3s;
        animation-fill-mode: both;
        -webkit-animation-duration: 1.3s;
        -webkit-animation-fill-mode: both
    }
    .fadeInUp {
        opacity: 0;
        animation-name: fadeInUp;
        -webkit-animation-name: fadeInUp;
    }
    .no-opacity {
        opacity: 0;
    }
}