@use "src/styles/common.scss" as *;

.sectionContent {
    width: 100%;
    min-height: 88vh;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: column;
    background-color: #f2f2f2;
    @media (min-width: 1023px) {
        padding: 30px;
        width: 100%;
        min-height: 88vh;
        display: flex;
        justify-content: flex-start;
        align-items: flex-start;
        flex-direction: column;
        background-color: #f2f2f2;
    }
    > article {
        width: 100%;
        display: grid;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        padding: 30px 0;
        margin: 0 auto;
        gap: 80px;
        &:nth-of-type(1) {
            row-gap: 0;
        }
        @media (min-width: 1023px) {
            grid-template-columns: calc(30% - 40px) calc(70% - 40px);
        }
    }
    
}
.sectionImage {
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
    gap: 40px;
    @media (max-width: 1023px) {
        display: none;
    }
    img {
        max-width: 100% !important;
        object-fit: cover;
        background-color: transparent !important;
        aspect-ratio: 16 / 10;
    }
}

.hexagon {
    width: 450px;
    height: 450px;
    display: block;
    position: relative;
    transition: all 1s ease-in-out;
    padding: 0;

    > img {
        inline-size: 100%;
        height: 100%;
        clip-path: polygon(0% 25%,0% 75%,50% 100%,100% 75%,100% 25%,50% 0%);
    }
}