@use "src/styles/common.scss" as *;

.mainImage {
    display: grid;
    grid-template-columns: 2fr 1fr;
    gap: 7.5px;
    padding: 0 40px;
    border-radius: 25px;
    overflow: hidden;

    img {
        max-width: 100% !important;
        object-fit: cover;
        background-color: transparent !important;
        aspect-ratio: 16 / 10;
    }
    
    > img {
        border-radius: 7.5px;
        height: 100%;
        margin: auto 0;
    }

    @media (max-width: 1023px) {

        display: flex;
        padding: 0;

        img {
            inline-size: 100%;
            border-radius: 7.5px;
        }
    }
}

.grid-one {
    grid-column: 1/2;
    grid-row: 1/3;
}
.grid-two {
    grid-column: 2/3;
    grid-row: 1/2;
}
.grid-three {
    grid-column: 2/3;
    grid-row: 2/3;
}

.singleContent {
    padding: 80px 30px;
    font-size: 18px;
    line-height: 25px;

    > div {
        width: 100% !important;
    }
}

@media (max-width: 768px) {
    .singleContent {
        padding: '20px';
    }
    .grid-two {
        display: none;
    }
    .grid-three {
        display: none;
    }
}

@media (max-width: 1023px) {
    
    .singleTitle {
        display: flex;
        flex-direction: row;
        padding: calc(25px + 1em);
        min-height: 300px;
        align-items: flex-end;
    }
    .singleTitle h3 {
        margin: 0;
    }
    .singleContent > .sectionImage {
        display: none;
    }
    
}