@use "src/styles/common.scss" as *;
.calendarBox {
    position: absolute;
    left: 0;
    right: 0;
    padding: 0;
    z-index: 10;
    top: calc(100% + 35px + 20px);
    @media (min-width: 1023px) {
        position: absolute;
        top: calc(100% + 20px);
        left: 0;
        right: 0;
    }
    .calendar {
        width: 100%;
        padding: 20px;
        > div:nth-last-child(1) {
            padding: 0;
            > div {
                margin: 0 auto;
                width: 100%;
            }
        }
    }
    > div {
        display: flex;
        gap: 7.5px;
        background-color: #f2f2f2;
        box-shadow: rgba(0, 0, 0, 0.20) -1px 7.5px 7.5px 0px;
    }
}
.rdrDateDisplay {
    margin: 0;
    display: flex;
    gap: 7.5px;
    span {
        margin: 0 !important;
    }
}
.rdrMonthName {
    font-size: 14px;
    text-align: center;
}
.rdrMonth {
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 0 !important;
}
.calendarInput {
    cursor: pointer;
    text-align: left;
    height: 2em;
    font-size: 18px;
    padding: 0.3em;
    border: solid 3px #f2f2f2;
    width: 100%;
}
.filter
{
    width: 100%;
    display: flex;
    gap: 20px;
    padding: 20px 0;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    position: relative;
    > .formInputs {
        width: 0;
        outline: 0;
        
        display: none;
        width: 100%;
        z-index: 10;
        position: absolute;
        left: 50%;
        top: 50%;
        -ms-transform: translate(-50%,-50%);
        -moz-transform:translate(-50%,-50%);
        -webkit-transform: translate(-50%,-50%);
        transform: translate(-50%,-50%);
        top: 0;
    }
    .true {
        display: block;
    }
    > label
    {
        width: auto;
        position: relative;
        display: flex;
        gap: 20px;
        padding: 28px;
        background-color: #f2f2f2;
        border-radius: 50%;
        border: 1px solid #4C5273;
        z-index: 10000;
    }
    label
    {
        z-index: 10000;
        > span
        {
            height: 35px;
            width: 35px;
        }
        > svg
        {
            height: 2em;
            inline-size: 2em;
            width: 2em;
            margin: auto;
        }
    }
}
.searchIcon
{
    width: auto;
    position: relative;
    // display: flex;
    gap: 20px;
    padding: 28px;
    background-color: #f2f2f2;
    border-radius: 50%;
    border: 1px solid #4C5273;
    svg
    {
        height: 2em;
        inline-size: 2em;
        width: 2em;
        margin: auto;
    }
    span {
        height: 35px;
        width: 35px;
    }
}
.filterArticle {
    position: relative;
    z-index: 1000000 !important;
    &::before {
        content: '';
        position: absolute;
    
        top: -30px;
        right: -500%;
        left: -500%;
        height: calc(100% + 60px);
    
        transform: rotate(-5deg);
        background-color: rgba(8,27,51,.8);
        
        z-index: 1000;
    }
}

::selection {
    background: rgba(8,27,51,.8);;
}
.searchWrapper {
    position: absolute;
    transform: translate(-50%, -50%);
    top:50%;
    left:50%;
    z-index: 10;
    .inputHolder {
        height: 70px;
        width:70px;
        overflow: hidden;
        background: rgba(255,255,255,0);
        border-radius:6px;
        position: relative;
        transition: all 0.3s ease-in-out;
        z-index: 2;
        .searchIcon {
            height: 70px;
            width: 70px;
            overflow: hidden;
            background: rgba(255,255,255,0);
            border-radius:6px;
            position: relative;
            transition: all 0.3s ease-in-out;
            z-index: 2;
        }
        .searchInput {
            width: 100%;
            height: 50px;
            padding: 0 70px 0 20px;
            opacity: 0;
            position: absolute;
            top: 0;
            left: 0;
            background: transparent;
            box-sizing: border-box;
            border: none;
            outline: none;
            font-family:"Open Sans", Arial, Verdana;
            font-size: 16px;
            font-weight: 400;
            line-height: 20px;
            color:#f2f2f2;
            transform: translate(0, 60px);
            transition: all .3s cubic-bezier(0.000, 0.105, 0.035, 1.570);
            transition-delay: 0.3s;
            font-size: 1.5em;
        
            &::-webkit-input-placeholder {
                color: #f2f2f2;
            }
        }
        .searchIcon {
            width: 70px;
            height: 70px;
            border: 3px solid rgba(8,27,51,.8);
            border-radius: 50%;
            background: #fff;
            padding: 0px;
            outline: none;
            
            position: relative;
            z-index: 2;
            float:right;
            cursor: pointer;
            transition: all 0.3s ease-in-out;
            span {
                width: 22px;
                height: 22px;
                display: inline-block;
                vertical-align: middle;
                position: relative;
                transform: rotate(45deg);
                transition: all .4s cubic-bezier(0.650, -0.600, 0.240, 1.650);
            }
        }
    }
    &.active {
        
        @media (max-width: 1023px) {
            position: absolute;
            transform: unset;
            top: unset;
            left: 0;
            right: unset;
            width: 100%;
        }
        .inputHolder {
            width:450px;
            border-radius: 50px;
            background: rgba(8,27,51,.8);
            transition: all .5s cubic-bezier(0.000, 0.105, 0.035, 1.570);
            
            @media (max-width: 1023px) {
                width: 100%;
                border-radius: 50px;
                background: rgba(8,27,51,.8);
                transition: all .5s cubic-bezier(0.000, 0.105, 0.035, 1.570);
            }
            .searchInput {
                opacity: 1;
                transform: translate(0, 10px);
            }
            .searchIcon {
                width: 50px;
                height: 50px;
                margin: 10px;
                border-radius: 30px;
                span {
                    transform: rotate(-45deg);
                }
            }
        }
    }
    
    .inputHolder .searchIcon span::before, 
    .inputHolder .searchIcon span::after {
        position: absolute;
        content: '';
    }
}
.searchWrapper .inputHolder .searchIcon span::before {
    width: 4px;
    height: 11px;
    left: 9px;
    top: 18px;
    border-radius: 2px;
    background: rgba(8,27,51,.8);
}
.searchWrapper .inputHolder .searchIcon span::after {
    width: 14px;
    height: 14px;
    left: 0px;
    top: 0px;
    border-radius: 16px;
    border: 4px solid rgba(8,27,51,.8);
}
.searchWrapper .close {
    position: absolute;
    z-index: 1;
    top:19px;
    right:20px;
    width:35px;
    height:35px;
    cursor: pointer;
    transform: rotate(-180deg);
    transition: all .3s cubic-bezier(0.285, -0.450, 0.935, 0.110);
    transition-delay: 0.2s;
}
.searchWrapper .calendarIcon {
    position: absolute;
    z-index: 1;
    top: 19px;
    right: 20px;
    width: 35px;
    height: 35px;
    cursor: pointer;
    transform: rotate(-180deg);
    transition: all .3s cubic-bezier(0.285, -0.450, 0.935, 0.110);
    transition-delay: 0.2s;
}
.searchWrapper.active .close {
    right:-100px;
    transform: rotate(45deg);
    transition: all .6s cubic-bezier(0.000, 0.105, 0.035, 1.570);
    transition-delay: 0.5s;
    @media (max-width: 1023px) {
        right: 0;
        top: -45px;
        transform: rotate(45deg);
        transition: all .6s cubic-bezier(0.000, 0.105, 0.035, 1.570);
        transition-delay: 0.5s;
    }
}
.searchWrapper.active .calendarIcon {
    right:-50px;
    transform: rotate(0);
    transition: all .6s cubic-bezier(0.000, 0.105, 0.035, 1.570);
    transition-delay: 0.5s;
    @media (max-width: 1023px) {
        left: 20px;
        right: unset;
        top: 80px;
        transition: all .6s cubic-bezier(0.000, 0.105, 0.035, 1.570);
        transition-delay: 0.5s;
    }
}
.searchWrapper .close::before, .searchWrapper .close::after {
    position: absolute;
    content: '';
    background: #C8102E;
    border-radius: 2px;
}
.searchWrapper .close::before {
    width: 5px;
    height: 35px;
    left: 15px;
    top: 0px;
}
.searchWrapper .calendarIcon::before {
    width: 5px;
    height: 35px;
    left: 5px;
    top: 0px;
}
.searchWrapper .close::after {
    width: 35px;
    height: 5px;
    left: 0px;
    top: 15px;
}
.searchWrapper .calendarIcon::after {
    width: 35px;
    height: 5px;
    left: 0px;
    top: 10px;
}
.searchContent
{
    width: 100%;
    min-height: calc(260px + 60px);
    display: flex !important;
    text-align: center;
    
    > * {
        width: 100%;
    }
}
.searchList {
    width: 100%;
    position: absolute;
    top: 100%;
    left: 0;
    padding: 10px;
    background-color: #f2f2f2;
    box-shadow: rgba(0, 0, 0, 0.20) -1px 7.5px 7.5px 0px;
    border-radius: 7.5px;
    @media (max-width: 1023px) {
        top: calc(100% + 35px);
    }
    li {
        list-style-type: none;
        height: 50px;
        display: flex;
        align-items: center;
        column-gap: 10px;
        border-radius: 7.5px;
        padding: 0 10px;
        cursor: pointer;
        &:hover {
            background-color: #fff;
        }
        &:active {
            background-color: #fff;
        }
        svg {
            height: 18px;
        }
    }
}