
.gridDouble {
    display: grid;
    column-gap: 80px;
    grid-template-columns: repeat(2, 1fr);

    > * {
        margin-inline: auto;
    }
}

.icons {
    
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    flex-direction: row;

    padding: 40px 20px;
    border-radius: 25px;

    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    
    @media (max-width: 550px) {
        row-gap: 10px;
    }

    > * {
        width: 30%;
        height: 90px;
        display: flex;
        justify-content: flex-start;
        align-items: center;

        flex-direction: column;
        padding: 7.5px;
        margin: 0;
        float: left;

        span {
            text-align: center;
            margin-top: 5.5px;
        }
        img {
            max-height: 37px;
            border-radius: 7.5px;
        }
        svg {
            max-height: 37px;
            border-radius: 7.5px;
        }
        > * {
            z-index: 2;
        }
    }
}

.moreAbout {
    float: left;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    width: 100%;
    text-align: left;

    line-height: 23pt;
    margin: 7.5px 0 !important;
    padding: 0;
    
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    
    @media (min-width: 1023px) {
        padding-inline: 40px;
    }

    span {
        color: #0A1248;
        cursor: pointer;
        padding-top: 15px;
        padding-bottom: 15px;
        width: auto;
        margin-right: auto;
    }
    a {
        color: #0A1248;
        cursor: pointer;
        padding-top: 15px;
        padding-bottom: 15px;
        width: auto;
        margin-right: auto;
    }
    .iconBox {
        font-size: 20px;
        padding: 15px;
        padding-top: 15px;
        padding-bottom: 15px;
        box-shadow: rgba(0, 0, 0, 0.20) -1px 7.5px 7.5px 0px;
        border-radius: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
        cursor: pointer;

        &:nth-last-child(1) {
            margin-left: 30px;
        }
    }
}

.textCenter {
    text-align: center;
}

.noOpacity {
    opacity: 0;
}

@media (min-width: 768px) {
    .fadeIn {
        animation: fadeIn 1.5s;
    }

    .animated {
        width: 100% !important;
        animation-duration: 1.3s;
        animation-fill-mode: both;
        -webkit-animation-duration: 1.3s;
        -webkit-animation-fill-mode: both
    }

    .fadeInUp {
        opacity: 0;
        animation-name: fadeInUp;
        -webkit-animation-name: fadeInUp;
    }
}

@keyframes fadeIn {
    0% { opacity: 0; }
    100% { opacity: 1; }
}

@keyframes fadeInUp {
    from {
        transform: translate3d(0,100px,0)
    }

    to {
        transform: translate3d(0,0,0);
        opacity: 1
    }
}
@-webkit-keyframes fadeInUp {
    from {
        transform: translate3d(0,100px,0)
    }

    to {
        transform: translate3d(0,0,0);
        opacity: 1
    }
}

.param {
    position: relative;
    background-color: #f2f2f2;
    box-shadow: rgba(0, 0, 0, 0.20) -1px 7.5px 7.5px 0px;
    padding: 5vw;
    
    li.point {
        line-height: 23pt;
    }
    ul.points {
        list-style: outside;
        padding-inline: 80px !important;
        margin: 0;
        gap: 7.5px;
        display: flex;
        flex-direction: column;
        text-align: left;

        @media (max-width: 1023px) {
            padding: 20px !important;
            margin: 0;
            gap: 7.5px;
            display: flex;
            flex-direction: column;
        }
    }

    > p {
        line-height: 23pt;
        margin: 7.5px 0;
        font-size: 20px;
        
        @media (max-width: 1023px) {
            text-align: left;
        }
    }
    a,
    li, 
    label {
        font-size: 20px;
    }

    h3 {
        width: 100%;
        font-weight: 900;
        display: inline-flex;
        justify-content: center;
        font-size: 23.4px;
        
        span {
            font-weight: 900;
            text-align: left;
        }
    }
    
    @media (min-width: 1023px) {
        width: 100%;
        padding: 30px;
        font-size: 18px;
        background-color: #f2f2f2;
        border-radius: 7.5px;
        margin-bottom: 30px;
        box-shadow: rgba(0, 0, 0, 0.20) -1px 7.5px 7.5px 0px;
        
        display: flex;
        flex-direction: column;
        
        &.noGaps {
            gap: 0;
        }
    
        > * {
            padding-inline: 40px !important;
        }
    }
  
    &.frontCard {
      padding-block: 70px !important;
      margin-bottom: 0;
  
      > p {
        text-align: center;
      }
    }
    &.textCenter {
        text-align: center;
    }
    
    &.noShadow {
        box-shadow: none;
    }
}